<!DOCTYPE html>
<html lang="en">
    <%- include(partials + "head", clone({title: "404 Not Found"})) %>
    <body>
        <header>
            <!-- 404 page header -->
            <h1>404 Not Found</h1>
            <h4>No page was found at <%= url %></h4>
            <hr>
        </header>
        <main>
            <p>If you are sure that the page should exist, please contact the site administrator.</p>
        </main>
    </body>
</html>